
  body {
    font-size: 1.25rem;
    background-color: #f6f8fa;
  }
  
  td {
    line-height: 3rem;
  }
  
  #header{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    .logo{
      background-image: url(../images/rentflix.png);
      background-size: cover;
      height: 160px;
      width: 350px;
    }
  }

.form-group{
  padding-bottom: 8px;
  label{
    font-weight: 500;
    padding-bottom: 4px;
  }
}

/* Tabla */

#inventario{
h2{
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0;
}
.button-row {
  padding-top: 60px;
  padding-bottom: 30px;

}
#add-movie-btn {
  background-color: #760240;
  color: aliceblue;
  border-radius: 6px;
}
table{
  margin-bottom: 60px;

  th{
    vertical-align: middle;
  }
}
}
/*Fin Tabla */


/* Footer */
.footer {
  font-size: 14px;
  font-size: 14px;
  background-color: #760240;
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  color: #fff;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}
/* Fin Footer */